@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vh;   
    font-family: Poppins, sans-serif
}

.left-panel {
    background-color: #F97316;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
}



.nav-item {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 15px;
    padding-left: 10px;
    height: 50px;
    border-radius: 15px;
    transition: .1s linear;
}

.nav-item:hover {
    background-color: #aa5213;
    cursor: pointer;
}

.nav-item img {
    margin-right: 20px;
}



.links {
    display: flex;
    flex-direction: column;

}

.links .nav-item:nth-child(7) {
    margin-top: 50px;
}

.logo {
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 20px 0 60px 12px;
    gap: 10px;
}

.fixed-top-panel {
    box-shadow: 0 0 10px 0;
    padding-bottom: 20px;
}

.logo img {
    height: 50px;
}

.main-panel {
    margin-left: 300px;
    min-height: 100vh;
    
}

.top-panel-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-pic {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.profile {
    flex: 1;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    padding-right: 130px;
    font-size: 1.2rem;
}

.search {
    flex: 5;
    display: flex;
    gap: 25px;
    margin-left: 50px;
    padding-right: 30px;
    height: 70px;
    align-items: center;
}

.search-wrapper {
    background: #d2d2d2;
    width: max(400px, 75%);
    height: 40px;
    border-radius: 48px;
    padding: 0 20px 0 20px;
    
}

.search-wrapper input {
    font-size: 1.2rem;
    background: none;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
}

.search img {
    height: 30px;
}

.bell {
    height: 30px;
}

.profile-name {
    font-weight: bold;
}

.other-profile-pic {
    height: 80px;
    object-fit: cover;
    width: 80px;
    border-radius: 50%;
    margin-left: 50px;
}

.top-panel-utility {
    margin-top :20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    gap:20px;
    align-items: center;
}

.good-text {
    font-weight: bold;
}

.good-text p:nth-last-child(1) {
    font-size: 1.8rem;
    margin-top: 5px;
}


.right {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: 50px;
    margin-right: 160px;
    gap: 60px;
    align-items: center;
}

.button {
    background-color:cornflowerblue;
    border-radius: 48px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
}

.main-left {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}

.bottom-text {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 20px 0 0 30px;
    background: #f8e8d9;
}

.card {
    display: flex;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
}

.card-strip {
    width: 15px;
    background: yellowgreen;
}

.card-main {
    width: 100%;
    height: 100%;
    padding: 20px 35px;
}

.main-bottom {
    display: flex;
    padding: 25px 30px;
    background: #f8e8d9;
}

.main-right {
    width: 600px;
}

.main-left {
    width: 100%;
}

.card-description {
    color: gray;
}

.card-header {
    font-size: 1.1rem;
    font-weight: 600;
}
